<div class="wraper_form">
  <div class="form_inner">
    <h1 class="heding_1"><%=@invoice.new_record? ? 'New Invoice' : 'Edit Invoice'%></h1>
    <%= form_for @invoice do |f| %>
    <div class="custom_border">
      <span>Buyer Details</span>
    <label for="">Name of Buyer :</label> <%= f.text_field :buyer_name, required: true %>
    <label for="">Address of Buyer :
    <label for="">
      <%= f.text_area :buyer_address, required: true , class: 'textarea' %>
      <div class="row">
        <div class="col-sm-6">
          <label for="">State :<label for="">
          <%= f.select :state, options_for_select(states) %>
        </div>
        <div class="col-sm-6">
          <label for="">GSTIN No :</label> <%= f.text_field :buyer_gstin_no, required: true %>
        </div>
      </div>
    </div>
    <div class="custom_border">
      <span>Transportation Details</span>
      <div class="row">    
        <div class="col-sm-6">
          <label for="">Transportation Mode :</label> <%= f.text_field :transportation_mode%>
        </div>
        <div class="col-sm-6">
          <label for="">Vehicle No :</label> <%= f.text_field :vehicle_no %>
        </div>
        <div class="col-sm-6">
          <label for="">Supply Date :</label> <%= f.text_field :supply_date_time, :autocomplete => 'off', id: "datetimepicker" %>
        </div>
        <script type="text/javascript">
            $('#datetimepicker').datepicker({
               format: 'dd/mm/yyyy', "autoclose": true,
            });
        </script>
        <div class="col-sm-6">
          <label for="">Place of Supply :</label> <%= f.text_field :supply_place %>
        </div>
      </div>
    </div>
    
    <div class="custom_border">
      <span>Goods Details</span>
      <div class="position">
        <%= f.fields_for :goods_details do |builder| %>
        <%= render 'goods_detail_fields', f: builder %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add more', f, :goods_details %>
        </div>
      </div>
    </div>

    <div class="custom_border">
      <span>Price Details</span>
      <label for="">Total Taxable Value :</label> <%= f.text_field :total_taxable_value, required: true, :readonly => true, class: "total_taxable_value", value: "#{@invoice.total_taxable_value.present? ? @invoice.total_taxable_value : ''}"  %>
      <div class="row">
        <div class="col-sm-6"> 
          <label for="">CGST (in %) :</label> <%= f.number_field :cgst, step: :any, class: "cgst" %>
        </div>
        <div class="col-sm-6">
          <label for="">Total CGST :</label> <%= f.text_field :tot_cgst, :readonly => true, class: "tot_cgst" %>
        </div>
        <div class="col-sm-6">
          <label for="">SGST (in %) :</label> <%= f.number_field :sgst, step: :any, class: "sgst" %>
        </div>
        <div class="col-sm-6">
          <label for="">Total SGST :</label> <%= f.text_field :tot_sgst, :readonly => true, class: "tot_sgst" %>
        </div>
        <div class="col-sm-6">
          <label for="">IGST (in %) :</label> <%= f.number_field :igst, step: :any, class: "igst" %>
        </div>
        <div class="col-sm-6">
          <label for="">Total IGST :</label> <%= f.text_field :tot_igst, :readonly => true, class: "tot_igst" %>
        </div>
        <div class="col-sm-6">
          <label for="">Cartage :</label> <%= f.number_field :cartage, step: :any, class: "cartage" %>
        </div>
        <div class="col-sm-6">
          <label for="">Invoice Total :</label> <%= f.text_field :invoice_total, :readonly => true, class: "invoice_total" %>
        </div>
      </div>
    </div>
    <div class="submit">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    $('#invoice_goods_details_attributes_0__destroy').parent('.custom_remove').find('.remove_fields').hide();
  $('.cgst,.sgst,.igst,.cartage,.quantity,.rate').keyup(function(){
    var sum = 0;
    var rate = $(".rate", this.parentNode).val() || 0
    var quantity = $(".quantity", this.parentNode).val() || 0;
    var total = rate * quantity;
    $(".taxable_value", this.parentNode).val(parseFloat(total).toFixed(2));
    $(".taxable_value").each(function(){
      sum = sum + parseFloat($(this).val());
      $('.total_taxable_value').val(parseFloat(sum).toFixed(2));
    });
    total_tx = $('.total_taxable_value').val() || 0
    intTotal_tx = parseFloat(total_tx);
    cgst_value = parseFloat($('.cgst').val() || 0)
    sgst_value = parseFloat($('.sgst').val() || 0)
    igst_value = parseFloat($('.igst').val() || 0)
    totalCgst = intTotal_tx * cgst_value/100
    totalSgst = intTotal_tx * sgst_value/100
    totalIgst = intTotal_tx * igst_value/100
    $('.tot_cgst').val(parseFloat(totalCgst).toFixed(2));
    $('.tot_sgst').val(parseFloat(totalSgst).toFixed(2));
    $('.tot_igst').val(parseFloat(totalIgst).toFixed(2));
    cartridgeValue = parseFloat($('.cartage').val() || 0)
    invoice_total = intTotal_tx + totalCgst + totalIgst + totalSgst + cartridgeValue
    $('.invoice_total').val(parseFloat(invoice_total).toFixed(2));
  });
  $('.add_fields',).click(function(){
    $(document).on("keyup", ".cgst,.sgst,.igst,.cartage,.quantity,.rate", function() {
      var sum = 0;
      var rate = $(".rate", this.parentNode).val() || 0
      var quantity = $(".quantity", this.parentNode).val() || 0;
      var total = rate * quantity;
      $(".taxable_value", this.parentNode).val(parseFloat(total).toFixed(2));
      $(".taxable_value").each(function(){
        sum = sum + parseFloat($(this).val());
        $('.total_taxable_value').val(parseFloat(sum).toFixed(2));
      });
      total_tx = $('.total_taxable_value').val() || 0
      intTotal_tx = parseFloat(total_tx);
      cgst_value = parseFloat($('.cgst').val() || 0)
      sgst_value = parseFloat($('.sgst').val() || 0)
      igst_value = parseFloat($('.igst').val() || 0)
      totalCgst = intTotal_tx * cgst_value/100
      totalSgst = intTotal_tx * sgst_value/100
      totalIgst = intTotal_tx * igst_value/100
      $('.tot_cgst').val(parseFloat(totalCgst).toFixed(2));
      $('.tot_sgst').val(parseFloat(totalSgst).toFixed(2));
      $('.tot_igst').val(parseFloat(totalIgst).toFixed(2));
      cartridgeValue = parseFloat($('.cartage').val() || 0)
      invoice_total = intTotal_tx + totalCgst + totalIgst + totalSgst + cartridgeValue
      $('.invoice_total').val(parseFloat(invoice_total).toFixed(2));
    });
    $(document).on('click', '.remove_fields', function(){
      $(this).parent().parent().find('.field_block').remove()
      $('.quantity').trigger('keyup')
    });
  }); 

  $('.remove_fields').click(function(){
    $(this).parent().parent().find('.field_block').remove()
   $('.quantity').trigger('keyup')
  });
</script>