<div class="nested-fields">
	Goods Description<%= f.text_field :goods_desc %>
	HSN/ACS Code<%= f.text_field :hsn_acs_code %>
	Quantity<%= f.text_field :quantity %>
	Rate<%= f.text_field :rate %>
	<%= link_to_remove_association "Remove", f %>
</div>