<h1>New Invoice</h1>
<%= form_for @invoice, url: invoices_path, method: :post do |f| %>
	Name of Buyer: <%= f.text_field :buyer_name %><br>
	Address of Buyer: <%= f.text_area :buyer_address %><br>
	GSTIN No.: <%= f.text_field :buyer_gstin_no %><br>
	Transportation Mode: <%= f.text_field :transportation_mode %><br>
	Vehicle No: <%= f.text_field :vehicle_no %><br>
	Supply Date & Time: <%= f.datetime_field :supply_date_time %><br>
	Place of Supply: <%= f.text_field :supply_place %><br>
	<div>
		<%= f.fields_for :goods_details do |builder| %>
			<%= render 'goods_detail_fields', f: builder %>
		<% end %>
		<div class="links">
	    <%= link_to_add_association 'add more', f, :goods_details %>
		</div>
	</div>
	Total Taxable Value: <%= f.text_field :total_taxable_value, class: "total_taxable_value", value: ""  %><br>

	<%= f.submit %>
 <% end %>


<script type="text/javascript">
	$(document).on("keyup", ".quantity,.rate", function() {
		var sum = 0;
		var rate = $(".rate", this.parentNode).val() || 0
    var quantity = $(".quantity", this.parentNode).val() || 0;
    var total = rate * quantity;
  	$(".taxable_value", this.parentNode).val(total);
  	$(".taxable_value").each(function(){
    	sum = sum + parseInt($(this).val());
    });
    $('.total_taxable_value').val(sum)
	});
</script>
