<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  </head>
  <body>
    <div class="pdf">
      <div class="pdf_inner">
        <div class="content_pdf">
          <span class="top_name"><u>TAX INVOICE</u></span>
        </div>
        <div class="content_part">
          <div class="brand_name">
              <div class="left-brand-box">
                <h1 class="big_text">M/S. AVON PAPER</h1>
                <P class="normal_text">A-2, Gali No. 4/5, Babu Nagar, Old Mustafabad, Main Brijpuri Road, Delhi-110094</P>
                <p class="normal_text"><b>GSTIN:</b> 07AJCPM5160E1ZH</p>
                <p class="normal_text"><b>State:</b> Delhi, <b>Pin-Code:</b> 110094</p>
                <p class="normal_text"><b>E-mail:</b> arshadmalikcool@gmail.com</p>
              </div>
              <div class="right_contact">
                <div class="icon"> 
                  <%= wicked_pdf_image_tag 'folding-phone.png', style: 'width: 45px;'%>
                </div>
                <span class="inline_content">
                  <span class="phone">9818619786</span>
                  <span class="phone">9718619786</span>
                  <span class="phone">9810308711</span>
                </span>
              </div>
          </div>
          <div class="address">
            <!-- <p>Deals In : Polyster Metalize, H.M.L.D, B.O.P.P., Holographic Film</p> -->
          </div>
          <div class="invoice_part">
            <div class="lft">
              <span><label>Invoice Serial No: </label> <%= invoice.invoice_no %></span>
              <span><label>Invoice Date: </label> <%= invoice.created_at.strftime("%d-%m-%Y") %></span>
            </div>
            <div class="rig">
              <span><label>Transportation Mode: </label> <%= invoice.transportation_mode %></span>
              <span><label>Veh No: </label> <%= invoice.vehicle_no %></span>
              <span><label>Date of Supply: </label> <%= invoice.supply_date_time.strftime("%d-%m-%Y") %></span>
              <span><label>Place of Supply: </label> <%= invoice.supply_place %></span>
            </div>
          </div>
            <div class="details">
              <div class="d-head">
                <p>Details of Receiver (Billed to)</p>
              </div>
              <div class="fill">
                <div class="fill_inner">
                  <span>Name: </span> <label><%= invoice.buyer_name %></label>
                </div>
                <div class="fill_inner">
                  <span>Address: </span> <label><%= invoice.buyer_address %></label>
                </div>
                <div class="fill_inner">
                  <span>State: </span> <label><%= invoice.state %></label>
                </div>
                <div class="fill_inner">
                  <span>GSTIN: </span> <label><%= invoice.buyer_gstin_no %></label>
                </div>
              </div>
            </div>
            <div class="tbl">
              <table  style="width:100%; border-collapse: collapse;">
                <thead>
                  <tr>
                    <td>S. No.</td>
                    <td>Description of Goods </td>
                    <td class="custom_td">HSN/ACS <br> Code</td>
                    <td style="width: 60px;">Qty</td>
                    <td style="width: 70px;">Rate</td>
                    <td>Taxable Value</td>
                  </tr>
                </thead>
                <tbody class="border-thick">
                  <% invoice.goods_details.each.with_index(1) do |good, index| %>
                    <tr>
                      <td><%= index %></td>
                      <td><%= good.goods_desc %></td>
                      <td><%= good.hsn_acs_code %></td>
                      <td><%= '%.2f' % good.quantity %></td>
                      <td><%= '%.2f' % good.rate %></td>
                      <td><%= '%.2f' % good.taxable_value %></td>
                    </tr>
                  <% end %>
                  <tr style=" text-align: right;">
                    <td colspan="1"></td>
                    <td colspan="1"></td>
                    <td colspan="3" style="border-top: 2px solid;border-bottom: 2px solid;"><b> Total </b> </td>
                    <td style="border-top: 2px solid;border-bottom: 2px solid;"><%= '%.2f' % invoice.total_taxable_value %></td>
                  </tr>
                  <tr style="border-bottom: 2px solid;">
                    <td colspan="1" style="border-right: 2px solid"></td>
                    <td colspan="1"></td>
                    <td colspan="3">
                      <table style="border-collapse: collapse;">
                        <tr style="border-bottom: 2px solid;">
                          <td><b>CGST (in %): </b><%= invoice.cgst %></td>
                        </tr>
                        <tr>
                          <td><b>SGST (in %): </b><%= invoice.sgst %></td>
                        </tr>
                      </table>
                    </td>
                    <td>
                      <table style="border-collapse: collapse;">
                        <tr style="border-bottom: 2px solid;">
                          <td><%= '%.2f' % invoice.tot_cgst %></td>
                        </tr>
                        <tr>
                          <td><%= '%.2f' % invoice.tot_sgst %></td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr style="">
                    <td colspan="2" style="border-top: 2px solid;font-weight: 700;">Amount of Tax Subject Reverse Charge</td>
                    <td colspan="3">
                      <table style="border-collapse: collapse;">
                        <tr>
                          <td><b>IGST (in%): </b><%= invoice.igst %>&nbsp;</td>
                        </tr>
                        <tr style="border-top: 2px solid; font-weight: 700;">
                          <td><b>Cartage </b></td>
                        </tr>
                      </table>
                    </td>
                    <td>
                      <table style="border-collapse: collapse;">
                        <tr>
                          <td><%= '%.2f' % invoice.tot_igst %> &nbsp;</td>
                        </tr>
                        <tr style="border-top: 2px solid;">
                          <td><%= invoice.cartage %>&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr style="border-top: 2px solid; border-bottom: 2px solid;">
                    <td colspan="2"> <b>if the particulars given above are true and correct</b></td>
                    <td colspan="3"><b>Invoice Total</b></td>
                    <td><%= '%.2f' % invoice.invoice_total %></td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="footer">
              <h1>For M/S. AVON PAPER</h1>
              <div class="footer_text">
                <p><b>Terms & conditions of sale </b></p>
                <p>Goods Once Sold Will Not Be Taken Back</p>
                <p>Taxes Will Be Charged As Applicable</p>
                <p>Subject To Delhi Jurisdiction Only</p>
              </div>
               <p class="sig">Auth. Sign</p>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
