<div class="pdf">
  <div class="pdf_header">
        <%=image_tag 'logo.png'%>
      </div>
  <div class="pdf_inner">
    <div class="content_pdf">
      <span class="top_name"><u> INVOICE</u></span>
    </div>
    <div class="content_part">
      <div class="details">
          <div class="fill">
            <div class="fill_inner">
              <span>Invoice No : CR/SUBS/</span><label><%= @invoice.invoice_no %></label>
              <div class="fill_inner_left">
              <span>Date : </span> <label><%= @invoice.invoice_date.strftime("%d-%m-%Y") rescue nil %></label>
            </div>
            </div>
            <div class="fill_inner">
              <span>Customer Name :  </span><label><%= @invoice.buyer_name %></label>
            </div>
            <div class="fill_inner">
              <span>Organization: </span> <label><%= @invoice.state %></label>
            </div>
            <div class="fill_inner">
              <span>Mobile: </span> <label><%= @invoice.mobile_no %></label>
            </div>
            <div class="fill_inner">
              <span>Email Id: </span> <label><%= @invoice.email %></label>
            </div>
            <div class="fill_inner">
              <span>Address : </span> <label><%= @invoice.buyer_address %></label>
            </div>
            
            <!-- <div class="fill_inner">
              <span>GSTIN : </span> <label><%= @invoice.buyer_gstin_no %></label>
            </div> -->
          </div>
        </div>
        <div class="subscription">
          <span>Subscription Period: </span> <label><%= @invoice.supply_place%></label>
        </div>
      <!-- <div class="brand_name">
          <div class="left-brand-box">
            <h1 class="big_text">M/S. AVON PAPER</h1>
            <P class="normal_text">A-2, Gali No. 4/5, Babu Nagar, Old Mustafabad, Main Brijpuri Road, Delhi-110094</P>
            <p class="normal_text"><b>GSTIN:</b> 07AJCPM5160E1ZH</p>
            <p class="normal_text"><b>State:</b> Delhi, <b>Pin-Code:</b> 110094</p>
            <p class="normal_text"><b>E-mail:</b> arshadmalikcool@gmail.com</p>
          </div>
          <div class="right_contact">
            <div class="icon"> 
              <%=image_tag 'folding-phone.png'%>
            </div>
            <span class="phone_number">
              <span class="inline_content">
                <span class="phone">9818619786</span>
              </span>
              <span class="inline_content">
                <span class="phone">9718619786</span>
              </span>
              <span class="inline_content">
                <span class="phone">9810308711</span>
              </span>
            </span>
          </div>
      </div> -->
      <div class="address">
        <!-- <p>Deals In : Polyster Metalize, H.M.L.D, B.O.P.P., Holographic Film</p> -->
      </div>
      <!-- <div class="invoice_part">
        <div class="lft">
          <span><label>Invoice Serial No: </label> <%= @invoice.invoice_no %></span>
          <span><label>Invoice Date: </label> </span>
        </div>
        <div class="rig">
          <span><label>Transportation Mode: </label> <%= @invoice.transportation_mode %></span>
          <span><label>Veh No: </label> <%= @invoice.vehicle_no %></span>
          <span><label>Date of Supply: </label> <%= @invoice.supply_date_time.strftime("%d-%m-%Y") rescue nil%></span>
          <span><label>Place of Supply: </label> <%= @invoice.supply_place %></span>
        </div>
      </div> -->
        
        <div class="tbl">
          <table>
            <thead>
              <tr>
                <td style="width: 60px;">S. No.</td>
                <td style="width: 300px;">Journal Name</td>
                <td class="custom_td" style="width: 200px;">Publication</td>
                <td style="width: 60px;">Frequency</td>
                <td style="width: 70px;">Price</td>
                <td>Taxable Value</td>
              </tr>
            </thead>
            <tbody class="border-thick">
              <% @invoice.goods_details.each.with_index(1) do |good, index| %>
                <tr>
                  <td><%= index %></td>
                  <td><%= good.goods_desc %></td>
                  <td><%= good.hsn_acs_code %></td>
                  <td><%= '%.2f' % good.quantity %></td>
                  <td><%= '%.2f' % good.rate %></td>
                  <td><%= '%.2f' % good.taxable_value %></td>
                </tr>
              <% end %>
              <tr style=" text-align: right;">
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="3" style="border-top: 2px solid;border-bottom: 2px solid;"><b> Total </b> </td>
                <td style="border-top: 2px solid;border-bottom: 2px solid;"><%= '%.2f' % @invoice.total_taxable_value %></td>
              </tr>
              <tr style="border-bottom: 2px solid;">
                <td colspan="1" style="border-right: 2px solid"></td>
                <td colspan="1"></td>
                <td colspan="3">
                  <table>
                    <tr style="border-bottom: 2px solid;">
                      <td><b>CGST (in %): </b><%= @invoice.cgst %></td>
                    </tr>
                    <tr>
                      <td><b>SGST (in %): </b><%= @invoice.sgst %></td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr style="border-bottom: 2px solid;">
                      <td><%= '%.2f' % @invoice.tot_cgst %></td>
                    </tr>
                    <tr>
                      <td><%= '%.2f' % @invoice.tot_sgst %></td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr style="">
                <td colspan="2" style="border-top: 2px solid;font-weight: 700;">Amount of Tax Subject Reverse Charge</td>
                <td colspan="3">
                  <table>
                    <tr>
                      <td><b>IGST (in%): </b><%= @invoice.igst %>&nbsp;</td>
                    </tr>
                    <tr style="border-top: 2px solid; font-weight: 700;">
                      <td><b>Discount (in%): </b></td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr>
                      <td><%= '%.2f' % @invoice.tot_igst %> &nbsp;</td>
                    </tr>
                    <tr style="border-top: 2px solid;">
                      <td><%= @invoice.cartage %>&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr style="border-top: 2px solid;">
                <td colspan="2"> <b>if the particulars given above are true and correct</b></td>
                <td colspan="3"><b>Invoice Total</b></td>
                <td><%= '%.2f' % @invoice.invoice_total %></td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="footer">
          <div class="footer_text">
            <p>Head Office : SE 569 Shastri Nagar || Ghaziabad - 201002 U.P.(India)</p>
            <p>Phone : 9810611282, 8587872681 || E-mail: /<span>info@crsubscription.com</span>/<span>sales@crsubscription.com</span></p>
            <p>www.crsubscription.com | GSTIN No. - 09AANFC5020F1ZN</p>
          </div>
        </div>
    </div>
    <div class="custom_butns">
      <a href= "<%=invoice_path(@invoice, format: :pdf)%>" target='_blank'>Print</a>

      <a href="<%=edit_invoice_path(@invoice)%>">Edit</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  function print_pdf(){
    window.print()
  } 
</script>

