<!DOCTYPE html>
<html>
  <head>
    <title>TaxInvoice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main_wraper">
      <header>
        <div class="header_inner">
          <ul>
            <% if user_signed_in? %>
            <li>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
            </li>
            <% end %>
          </ul>
        </div>
      </header>
      <div class="row" style="margin: 0;">
        <div class="col-xm-12 col-sm-2 col-md-2 pd_0">
          <div class="left_side_bar">
            <div class="items">
              <ul class="custom_ul">
                <% if user_signed_in? %>
                <li><a href="/invoices/new">Generate Invoice</a></li>
                <li><a href="#">Contact</a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xm-12 col-sm-10 col-md-10 pd_0">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
