<!DOCTYPE html>
<html>
  <head>
    <title>TaxInvoice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- <link rel = "stylesheet" type = "text/css" media = "print" href = "pdf.css"> -->
  </head>

  <body>
    <div class="main_wraper">
      <header>
        <div class="header_inner">
          <div class="brand">
            <a href="#">M/S. AVON PAPER</a>
          </div>
          <ul>
            <% if user_signed_in? %>
              <li><a href="/invoices/new">Generate Invoice</a></li>
            <%end%>
            <% if user_signed_in? %>
            <li>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
            </li>
            <% end %>
          </ul>
        </div>
      </header>
      <!-- <div class="col-xm-12 col-sm-2 col-md-2 pd_0">
        <div class="left_side_bar">
          <div class="items">
            <ul class="custom_ul">
              <%# if user_signed_in? %>
              <li><a href="/invoices/new">Generate Invoice</a></li>
              <%#end%>
            </ul>
          </div>
        </div>
      </div> -->
      <div class=" pd_0">
        <div class="pd_top" style="padding-top: 48px;">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
