<!DOCTYPE html>
<html>
  <head>
    <title>TaxInvoice</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main_wraper">
      <header>
        <div class="header_inner">
          <div class="brand">
            <a href="<%=root_path%>">AVON PAPER</a>
          </div>
          <ul>
            <% if user_signed_in? %>
              <li><%=link_to 'Generate Invoice', root_path%></li>
              <li><%=link_to 'All Invoices', invoices_path%></li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
              </li>
            <% end %>
          </ul>
        </div>
      </header>
      <div class=" pd_0">
        <div class="pd_top" style="padding-top: 48px;">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
